<div  class="tasks">
    <h2 class="header">Daily Tasks</h2>

    <p *ngIf="dailyTasks.length === 0" class="no-objects-message">No daily tasks.</p>

    <table class="tasks-table" *ngIf="dailyTasks.length > 0">
      <thead>
        <tr>
          <th></th>
          <th>Description</th>
          <th>Assignee</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dailyTask of dailyTasks; let i = index">
          <td>
            <button class="delete-button" (click)="toggleIsDone(dailyTask.id)">
              <span [ngClass]="dailyTask.done ? 'icon-task-done' : 'icon-task-not-done'"></span>
            </button>
          </td>
          <td>{{ dailyTask.description }}</td>
          <td>{{ dailyTask.assignee || '-' }}</td>
          <td>
            <button class="delete-button" (click)="removeDailyTask(dailyTask.id)">
              <span class="icon-trash"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <form (ngSubmit)="confirmCreateDailyTask()" class="create-form" #dailyTaskForm="ngForm">
      <input
        id="description"
        [(ngModel)]="dailyTaskRequest.description"
        name="description"
        placeholder="Add new daily task"
        required
      />
      <select
        id="assignee"
        [(ngModel)]="dailyTaskRequest.assigneeUserId"
        name="assignee"
        class="assignee-select"
      >
        <option [value]="undefined">Select assignee</option>
        <option *ngFor="let user of users" [value]="user.id">
          {{ user.username }}
        </option>
      </select>
      <div class="form-buttons">
        <button
          class="green-button"
          type="submit"
          [disabled]="dailyTaskForm.invalid"
        >
          Confirm
        </button>
      </div>
    </form>    

</div>
